.bg {
    background-image: url(../../assets//banner/banner\ \(1\).jpg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}